* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #ff8052;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}

h1 {
    margin: 10px;
}

header {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}

header,
form {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


form input,
form button {
    padding: .7rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.input {
    display: flex;
    gap: none;
}

form,
button {
    color: #ff8052;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form,
button:hover {
    background: #ff8052;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}

.todo li {
    flex: 1;
    list-style: none;

}

.trash-btn,
.complete-btn {
    background: #ffaf98;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.complete-btn {
    background: green;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    /* you cannnot click on this class elements */
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;

}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background-color: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;

}

.select:hover::after {
    background: white;
    color: #ff6f47;
}


@media (max-width:670px) {



    header,
    form {
        min-height: 20vh;
    }

    header {
        font-size: 1.3rem;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    form input {
        padding: .5rem;
        font-size: 1rem;
    }


}